@model Universidad

<h1 class="display-4 text-center">Actualizar Universida</h1>
<h3 class="text-info mt-4">Actualice los campos necesarios y pulse Guardar.</h3>
<form asp-controller="Universidad" asp-action="Actualizar" method="post" class="mt-4">
    <div class="text-center row">

        <div class="form-group">
            <div class="col-md-12">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
        </div>
       
        <div class="form-group">
            <div class="col-md-5">
                <button type="submit" class="btn btn-success mt-4">Guardar</button>
            </div>
        </div>
    </div>
</form>
<a class="btn btn-primary" asp-controller="Universidad" asp-action="List">Volver</a>
