@model Maestria

    <div class="text-center">
        @if (UniversidadManager.Instance.MaestriaAlumnoDependencia(Model.IdMaestria))
        {
            <h3 class="alert alert-info">No puede borrar</h3>
            <p>
                Esta maestría tiene actualmente alumnos que la están cursando, por lo que
                primero tiene que dar de baja a dichos alumnos para borrar esta maestría.
            </p>

            <a class="btn btn-primary" asp-controller="Maestria" asp-action="List">Volver</a>
        }
        else if (UniversidadManager.Instance.MaestriaDocenteDependencia(Model.IdMaestria))
        {
            <h3 class="alert alert-info">No puede borrar</h3>
            <p>
                Esta maestría tiene actualmente docentes que la están impartiendo, por lo que
                primero tiene que dar de baja a dichos docentes para borrar esta maestría.
            </p>

            <a class="btn btn-primary" asp-controller="Maestria" asp-action="List">Volver</a>
        }
        else
        {
            <h3 class="alert alert-danger">¿Está seguro de borrar?</h3>
            <p>
                La maestría <b>@Model.Nombre</b> con ID <b>@Model.IdMaestria</b>,
                la cual tiene una duración de <b>@Model.Duracion años</b>
                será eliminada. Presione el botón <b>Aceptar</b> para confirmar.
                De lo contrario, pulse <b>Volver</b>.
            </p>
            <form method="post" asp-controller="Maestria" asp-action="Eliminar" asp-route-id="@Model.IdMaestria">

                <button type="submit" class="btn btn-danger">Aceptar</button>
                <a class="btn btn-primary" asp-controller="Maestria" asp-action="List">Volver</a>
            </form>
        }

    </div>