@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Gestor Universitario</h1>
    <p>
        Proyecto para el ejercicio 3 de Programación 3. <br /> CRUD de universidades
    </p>
    <a class="btn btn-secondary" asp-controller="Alumno" asp-action="List">Ver Alumnos</a>
    <a class="btn btn-secondary" asp-controller="Maestria" asp-action="List">Ver Maestrías</a>
    <a class="btn btn-secondary" asp-controller="Docente" asp-action="List">Ver Docentes</a>
    <a class="btn btn-secondary" asp-controller="Universidad" asp-action="List">Ver Universidades</a>

</div>